body{
	width: 80vw;
	margin: auto;
}
fieldset{
	max-width: 200px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}
fieldset:nth-child(odd){
	text-align: right;
}
fieldset>button{
	grid-column: 1/3;
}
th{
	padding: 10px;
	background-color: #B2D1B1;
}
td{
	padding: 10px;
	background-color: #D1C1B1;
}