*{
	margin: 0;
	padding: 0;
}
body{
	width: 80vw;
	margin: auto;
}
header, footer{
	border: 1px solid #000;
	text-align: center;
}
main{
	display: grid;
	grid-template-columns: 40% 15% auto;
	font-size: 2vw;
	justify-content: stretch;
}
main>:nth-child(1n){
	padding: 1vw;
	margin: .5vw 0;
}
main>:nth-child(6){
	grid-column: 1/2;
}
button[onclick]{
	grid-column: 2/4;
	border-radius: 25px;
	border: .5vw groove #848484;
	background-color: #B2B2B2;
	font-size: 2vw;
	margin: .5vw 0;
	padding: .5vw;
}